<a href="https://colab.research.google.com/github/brayanricardo13/Analitica-de-datos/blob/main/MERCADO_LABORAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from openpyxl import workbook   # leer excel 
from openpyxl import load_workbook 
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# **Conexion Drive**

In [ ]:
Mercado_laboral = load_workbook("/content/drive/MyDrive/U CENTRAL ECONOMÍA/DOCUMENTOS ADICIONALES/CURSOS/MEDICION ECONOMICA/MERCADO LABORAL/anexo_empleo_may_22.xlsx")

In [ ]:
Total_nacional = Mercado_laboral["Total nacional"]

In [ ]:
Desempleo = Total_nacional["b17:r17"]

In [ ]:
print(f'{Total_nacional["A20"].value};{Total_nacional["r20"].value}')

# **Valores**

In [ ]:
for Total in Total_nacional .iter_rows(min_row=14, max_col=18, max_row=18, min_col=1, values_only=True):
   print(Total) # row = Filas , Col =  Columnas

In [39]:
 # población en edad de trabajar
 for PEA in Total_nacional .iter_rows(min_row=14, max_col=100, max_row=14, min_col=2, values_only=True): 
    print(PEA)

(76.82671694, 76.850686751, 76.872279582, 76.896599213, 76.920191654, 76.944297362, 76.964909691, 76.988998095, 77.01335951, 77.036784926, 77.060527532, 77.083302046, 77.107302185, 77.130448962, 77.151337504, 77.174411165, 77.196676014, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)

In [32]:
 for TGP in Total_nacional .iter_rows(min_row=15, max_col=100, max_row=15, min_col=2, values_only=True):
   print(TGP) # Tasa Global de participacion

('TGP', 60.74821169, 62.514241857, 61.597962759, 61.022233813, 61.449054878, 61.220352326, 61.061853025, 61.318649617, 60.920416479, 62.055766328, 62.188863511, 62.473708913, 62.574484036, 64.164893938, 63.520901377, 63.568107678, 63.77862681, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)

In [ ]:
 for TO in Total_nacional .iter_rows(min_row=16, max_col=100, max_row=16, min_col=2, values_only=True):
   print(TO) # Tasa de Ocupacion

In [49]:
 for TD in Total_nacional .iter_rows(min_row=17, max_col=100, max_row=17, min_col=2, values_only=True):
   print(TD) # Tasa de Desempleo

(17.563265669, 15.585196369, 14.725529465, 15.488034242, 15.204204747, 14.646591578, 13.058523089, 12.861392996, 11.961303547, 11.995241041, 11.533057524, 11.096493065, 14.647251143, 12.905169722, 12.121232557, 11.168465857, 10.648261518, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)

In [ ]:
 for TS in Total_nacional .iter_rows(min_row=18, max_col=100, max_row=18, min_col=2, values_only=True):
   print(TS) # Tasa Subocupacion

In [ ]:
PEA = pd.DataFrame(PEA).dropna() #  Elimanar Celdas Vacias y converir en DATAFRAME 
PEA.columns = ['PEA']
PEA.plot()
PEA.head()

In [ ]:
TO = pd.DataFrame(TO).dropna() #  Elimanar Celdas Vacias y converir en DATAFRAME 
TO.columns = ['TOCUPACION']
TO.plot()
TO.head()

In [ ]:
TD = pd.DataFrame(TD).dropna() #  Elimanar Celdas Vacias y converir en DATAFRAME 
TD.columns = ['TDESEMPLEO']
TD.plot()
TD.head()